* {
  	box-sizing: border-box;
  	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  	font-size: 16px;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
body {
  background-image: url();
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 50vmax;

  overflow-x: hidden;
}
.navtop {
  	background-color: #4682B4;
  	height: 60px;
  	width: 100%;
  	border: 0;
}
.navtop div {
  	display: flex;
  	margin: 0 auto;
  	width: 1000px;
  	height: 100%;
}
.navtop div h1, .navtop div a {
  	display: inline-flex;
  	align-items: center;
}
.navtop div h1 {
  	flex: 1;
  	font-size: 24px;
  	padding: 0;
  	margin: 0;
  	color: #ecf0f6;
  	font-weight: normal;
}
.navtop div a {
  	padding: 0 20px;
  	text-decoration: none;
  	color: #c5d2e5;
  	font-weight: bold;
}

.btn-orange {
  background-color: #ff7133;
}

.btn-orange:hover {
  transition: 0.4s;
  background-color: #c95d2e;
}

.hero-text {
  margin-top: 5em;
}

@media (max-width: 992px) {
  body {
    background-size: 75%;
  }
  .hero-text {
    margin-top: 20em;
  }
}